body {
	background-color: black !important;
    height: 100%;
}

.header{
    height: 5em;
}

ul li a{
    font-size: 1.25vw !important;
}

.pagelabel{
    float: right;
    font-size: 1.2px !important;
    margin-right: 0.8px !important;
    margin-top: 0.2px !important;
}

.mytab {
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
	font-size:0.9em !important;
	height: 2.5em !important;
    z-index: 16005 !important;
}

.iframecontainer {
	padding: 1.25em !important;
	top: 2em !important;
	left: 0 !important;
	right: 0 !important;
	margin-left: -1.25em !important;
	overflow: hidden;
    height: 100%;
    position: fixed;
}

iframe {
	width: 100%;
	height: 100%;
    overflow: hidden;
    position: fixed;
}

.uipage{}

.uipage[data-state="active"]{
    display:inline;
}

.uipage[data-state="inactive"]{
    display:none;
}

/* Set font size down */
body{
    font-size: 1.7vw !important;
}

#navbar {
    z-index: 160005 !important;
}

.ui-header {
    border: none !important;
}
