.vppwrbtn{
    position:relative;
    left:1.4em;
}

.vppwrled{
    position:relative;
    left:0.6em;
}

#NotConnectedImage{
    display: block;
    height:26em;
    margin-left: auto;
    margin-right: auto 
}

#SplashImage{
    display: block;
    height:26em;
    margin-left: auto;
    margin-right: auto 
}

.ui-page-theme-a {
    padding-top: 4.25em;
}